@use "settings";

@use "elements/base";
@use "elements/buttons";
@use "elements/header";
@use "elements/opening";
@use "elements/statistics";
@use "elements/benefits";
@use "elements/pricing";
@use "elements/contact";
@use "elements/form";
@use "elements/footer";
@use "./settings/mixins" as *;
@use "./settings/colors" as *;
@use "./settings/fonts" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

